*{
	padding: 0;
	margin:0;
	font-weight: normal;
}
body{
	font-size: 12px;
	font-family: "SimSun";
	line-height: 1.2;
}
a{
	text-decoration: none;
}
img{
	border:0;
}
ul,li {
	float: left;
	list-style: none;
}
img{
	border:0;
}
.fl{
	float:left;
}
.fr{
	float: right;
}
/*登陆页面*/
.xf_bodl{
	background: url(../images/xf_dlbg.jpg) top center no-repeat;
}
#wrap_top{
	width: 515px;
	margin: 0 auto;
}
#wrap_top .xf_logo{
	width: 515px;
	height: 102px;
	margin: 220px auto 0;
	background: url(../images/xf_logo.png) no-repeat;
}
#wrap_top .dlyanz{
	position: relative;
	margin: 110px 0 0  45px;
	_display: inline;
	padding-left: 45px;
	width: 352px;
	height: 114px;
	background: url(../images/xf_yzbg.png) no-repeat;
}
#wrap_top .dlyanz input{
	border:0;
	width: 275px;
	height: 48px;
	_height: 46px;
	*height: 46px;
	background: #f2f6fa;
	outline:none;
	font-size: 14px;
	line-height: 1.6;
	_line-height: 46px;
	*line-height: 46px;
}
#wrap_top .dlyanz .mimak{
	margin-top:18px;
}
#wrap_top .dlyanz a{
	position: absolute;
	right: -16px;
	top: 14px;
	display: block;
	width: 86px;
	height: 86px;
	background: url(../images/xf_dlan.png) no-repeat;
}
/*知识库页面*/
/*top固定栏*/
#xf_topbg{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 64px;
	background:#1769b0;
}
#xf_topbg .top_inner{
	width: 1000px;
	margin:0 auto;
}
#xf_topbg .top_inner h1{
	float: left;
	display: block;
	width: 180px;
	height: 64px;
	text-indent: -9999px;
	background: url(../images/zsklogo.png) no-repeat;
}
#xf_topbg .top_inner h1 a{
	display: block;
	width: 180px;
	height: 64px;
}
#xf_topbg .top_inner .xf_sosuo{
	position: relative;
	float: right;
	margin-top: 19px;
}
#xf_topbg .top_inner .xf_sosuo input{
	width: 149px;
	height: 28px;
	border:0;
	font-size: 12px;
	line-height: 24px;
	_line-height: 26px;
	border-radius: 3px;
	padding:0;
	padding-left: 2px;
	background:#eaf2f5;
}
#xf_topbg .top_inner .xf_sosuo .ss_an{
	display: block;
	width: 30px;
	height: 26px;
	position: absolute;
	top: 3px;
	right: 0;
	background: url(../images/xf_icon.png) 0 0 no-repeat;

}
/*top栏结束  center开始*/
#xf_warp{
	width: 1000px;
	margin:64px auto 0;
	_margin:0 auto;
	overflow: hidden;
	zoom:1;
}
#xf_warp .inner_left{
	width: 660px;
	float: left;
	margin: 20px 0 10px;
}
/*面包屑*/
#xf_warp .inner_left .xf_mbx{
	overflow: hidden;
	zoom:1;
}
#xf_warp .inner_left .xf_mbx ul li a{
	color:#b8c6d6;
	font-size: 12px;
	line-height: 28px;
	margin-right: 8px;
}
#xf_warp .inner_left .xf_mbx ul li a:hover{
	text-decoration: underline;
}
#xf_warp .inner_left .xf_mbx ul li .mbx_sy{
	display: block;
	margin: 6px  8px 0 0;
	width: 16px;
	height: 16px;
	background: url(../images/xf_icon.png) -5px -126px no-repeat;
}
#xf_warp .inner_left .xf_mbx ul li span{
	color:#b8c6d6;
	font-size: 12px;
	line-height: 28px;
	margin-right: 8px;
}
/*问题类型*/
#xf_warp .inner_left .xf_wtlx{
	padding:10px 0 0 10px;
	width: 650px;
	overflow: hidden;
	zoom:1;
	background: #38b1eb;
}
#xf_warp .inner_left .xf_wtlx ul li{
	width: 208px;
	height: 33px;
}
#xf_warp .inner_left .xf_wtlx ul li a{
	margin-top: 7px;
	padding: 4px 10px;
	color:#fff;
	line-height: 22px;
	_line-height: 28px;
	font-size: 14px;
}
#xf_warp .inner_left .xf_wtlx ul li a:hover{
	background: #2199d3;
	border-radius: 20px;
}
/*问题详解*/
#xf_warp .inner_left .xf_wtxj{
	padding-bottom: 45px;
	width: 660px;
	margin-top: 12px;
	overflow: hidden;
	zoom:1;
}
#xf_warp .inner_left .xf_wtxj .xf_lbul li{
	height: 42px;
	width: 100%;
	overflow: hidden;
	zoom:1;
	border-bottom:1px solid #ebf1f5;
	background: url(../images/xf_icon.png) 12px -291px no-repeat;
}
#xf_warp .inner_left .xf_wtxj .xf_lbul li h3{
	line-height: 42px;
	font-size: 14px;
	color:#2d64b3;
	text-indent: 2em;
	cursor: pointer;
	background: url(../images/xf_icon.png) 630px -54px no-repeat;
}
#xf_warp .inner_left .xf_wtxj .xf_lbul .licur{
	background: url(../images/xf_icon.png) 12px -348px  no-repeat;
}
#xf_warp .inner_left .xf_wtxj .xf_lbul .licur h3{
	color:#f47564;
	background: url(../images/xf_icon.png) 630px -230px no-repeat;
}
#xf_warp .inner_left .xf_wtxj .xf_lbul li .xf_wtnr{
	margin-left: 27px;
	margin-bottom: 19px;
	display: inline;
	float: left;
	background: #f2f6fa;
	width: 564px;
	padding: 10px 23px;
}
#xf_warp .inner_left .xf_wtxj .xf_lbul li .xf_wtnr span{
	font-size: 12px;
	line-height: 26px;
	color:#666;
}
/*翻页*/
#xf_warp .inner_left .xf_wtxj .xf_fanye{
	margin:20px 0 0 100px;
	display: inline;
}
#xf_warp .inner_left .xf_wtxj .xf_fanye .xf_sxan{
	display: block;
	width: 70px;
	height: 34px;
	border-radius: 3px;
	line-height: 34px;
	font-size: 14px;
	color:#fff;
	float: left;
	text-align: center;
	background:#f47564;
	margin-right: 16px;
}
#xf_warp .inner_left .xf_wtxj .xf_fanye .xf_sxan:hover{
	background:#F75944;
}
#xf_warp .inner_left .xf_wtxj .xf_fanye ul li a{
	line-height: 34px;
	margin-right: 15px;
	color:#a4a9ae;
	font-family: "Arial";
	font-size: 14px;
}
#xf_warp .inner_left .xf_wtxj .xf_fanye ul li a:hover{
	color:#ed5565;
}
#xf_warp .inner_left .xf_wtxj .xf_fanye ul .xf_fycur a{
	color:#ed5565;
}
/*右侧 热门知识*/
#xf_warp .inner_right{
	width: 310px;
	float: right;
	margin-top: 47px;
}
#xf_warp .inner_right .xf_remen{
	padding:5px 17px 0;
	width: 280px;
	height: 323px;
	background: #f2f6fa;
}

#xf_warp .inner_right .xf_remen h3{
	line-height: 40px;
	font-size: 20px;
	font-family:"Microsoft YaHei";
	color:#f47564;
	width: 100%;
	font-weight: normal;
	float: left;
	border-bottom: 1px solid #e3eaf3;
	margin-bottom: 8px;
}
#xf_warp .inner_right .xf_remen h3 span{
	float:left;
}
#xf_warp .inner_right .xf_remen h3 a{
	margin-top: 7px;
	margin-left: 4px;
	display: block;
	width: 25px;
	height: 25px;
	float: left;
	background:url(../images/xf_icon.png) 0px -170px no-repeat;
}
#xf_warp .inner_right .xf_remen ul li{
	width: 100%;
	margin: 8px 0;
}
#xf_warp .inner_right .xf_remen ul li a{
	float: left;
	font-size: 14px;
	color:#666;
	line-height: 24px;
}
#xf_warp .inner_right .xf_remen ul li a:hover{
	color:#f47564;
}
#xf_warp .inner_right .xf_remen ul li a span{
	float: left;
	font-family: "Arial";
	font-weight: bold;
	padding-right: 10px;
	line-height: 24px;
	color:#999;
	width: 7px;
}
#xf_warp .inner_right .xf_remen ul li span{
	float: right;
	font-size: 12px;
	line-height: 24px;
	color:#999;
}
/*最新知识*/
#xf_warp .inner_right .xf_zuixin{
	height: 430px;
	margin-top: 32px;
}
#xf_warp .inner_right .xf_zuixin h3{
	color:#1769b0;
}
#xf_warp .inner_right .xf_zuixin ul li a{
	line-height: 24px;
}
#xf_warp .inner_right .xf_zuixin ul li span{
	width: 138px;
	line-height: 18px;
}
/*详情页*/
#xf_warp .inner_right .xf_qtzs h3{
	color:#1769b0;
}
#xf_warp .inner_left .xf_wtbt h3{
	font-size: 22px;
	color:#fff;
	line-height: 43px;
	font-family:"Microsoft YaHei";
}
#xf_warp .inner_left .xf_wtbt p{
	font-size: 12px;
	line-height: 43px;
	text-align: right;
	color:#fff;
	padding-right: 1em;
}
#xf_warp .inner_left .xf_wtjd{
	padding: 13px 18px;
	width: 624px;
}
#xf_warp .inner_left .xf_wtjd p{
	font-size: 12px;
	line-height: 28px;
	color:#999;
	padding-bottom: 5px;
}